{% extends "layout.html" %}
{% block title %} Acquire - Admin {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <form id="start" class="center">
      <main>
          <header>
            <h1>Acquire</h1>
          </header>
          <input id="room" type="text" placeholder="Game Name" />
          <input type="submit", value="Sumbit name"/>
          <p>Create a room for Acquire.</p>
      </main>
    </form>
    <main>
      <section id="panel">
        <div class="panel__header">
          <p>Share Link</p>
          <input id="shareLink" />
        </div>
        <div class="panel">
          <div class="panel__header">
            <div class="panel__label">Players</div>
          </div>
          <ul id="player_list">
          </ul>
          <div class="panel__header">
            <div class="panel__label">Players &mdash; <span id="roomCount"></span></div>
            <div>
              <button id="begin">Begin</button>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
    <script>
    window.onbeforeunload = function(){
      return "Are you sure you want to close the window?"; // Alert the user when they refresh as that will discard information
    }
    </script>
{% endblock %}