{% extends "layout.html" %}
{% block title %} Acquire - Play {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
      <main>
        <h1>
          Acquire
        </h1>
        <div id="wait_form"></div>
        <form id="start">
          <header>
          </header>
          <input id="name" type="text" maxlength="100" placeholder="Your name">
          <input type="submit" value="Join Game" />
          <p>P.S. Your name will be shared with the moderator</p>
        </form>
        <div id="panel">
          <div class="panel__header">
            <div class="panel__label"><span id="board" style="white-space: pre; font-family: monospace;"></span></div>
            <div class="panel__label"><span id="info" style="white-space: pre; font-family: monospace;"></span></div>
          </div>
        </div>
        <form id="game_form">
          <select id="tile_selection">
          </select>
          <input type="submit" value="Submit selection" />
        </form>
        <ul id="buzzes"></ul>
      </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='play.js') }}"></script>
    <script>
    window.onbeforeunload = function(){
      return "Are you sure you want to close the window?"; // Alert the user when they refresh as that will discard information
    }
    </script>
{% endblock %}